<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Validation with Local Storage</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>

    <div class="container">
        <h1>Link URL</h1>
        <input type="text" id="urlInput" placeholder="Enter a URL" />
        <button id="validateButton">Save</button>
        <p id="result"></p>
        <h2>Saved Links</h2>
        <ul id="savedLinks">
            <li id="list"></li>
        </ul>
    </div>

    <script src="script1.js"></script>
</body>
</html>
